<header>
    <div class="header-content">
        <div class="website">
            <img class="logo" src="<%= theme.logo %>">
            <a class="title" href="/"><%= config.title %></a>
        </div>
    </div>
</header>